@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS file (e.g., styles.css) or Tailwind's custom CSS */
.underline {
  position: absolute;
  bottom: 0;
  height: 100%;
  background-color: #c54c0008;
  border-bottom: 3px solid #c54c00;
  left: var(--underline-left, 0);
  width: var(--underline-width, 0);
  transition: left 0.2s ease, width 0.2s ease;
  z-index: 10;
}

.active-category {
  color: #c54c00;
}


