@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS file (e.g., styles.css) or Tailwind's custom CSS */
.underline {
  position: absolute;
  bottom: 0;
  height: 100%;
  background-color: #135aaf08;
  border-bottom: 1px solid #135aaf;
  /*border-top: 1px solid #135aaf;
  */left: var(--underline-left, 0);
  width: var(--underline-width, 0);
  transition: left 0.1s ease, width 0.1s ease;
  z-index: 10;
  /*border-top-right-radius:  6px;
  border-top-left-radius:  6px;
  border-bottom-right-radius:  6px;
  border-bottom-left-radius:  6px;
  */box-shadow: 0px 0px 2px 0px #135aaf75 inset;
  cursor: pointer;
}
.active-category {
  color: #135aaf;
}

